html,body {
  height:100%;
}

#nav {
  opacity: 0.5;

}

.icon-bar {
  color: black;

}

.navbar {
  min-height: 30px;
}

.navbar-toggle {
  color: black;

}

ul#nav-list {
  padding-top: 15px;
}
.navbar-brand {
  padding-top: 10px;
  padding-bottom: 0;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
    color: white;
}

.btn-primary, .btn-primary:active, .btn-primary:focus {
    background: #44c7e3;
    border: 1px solid #44c7e3;
    font-weight: 600;
    outline: none;
    color: #fff;
    border-radius: 20px;
    padding-top: 0px;
    margin-top: 0;
    /* padding: 3px 18px; */
}

.first {
  height:100vh;
  min-height:400px;
  background-size:cover;
  /*background-image: url('http://localhost:3000/images/happy-family.jpg');*/
  background-image: url('http://localhost:3000/images/happy-family-green-overlay.png');
  opacity: 0.5;
}

.tag-line {
  padding-top: 200px;
  padding-left: 100px;
  padding-right: 100px;
  text-align: center;
  font-size: 46px;
  /*color: #92d3b4;*/
  color: white;
  font-weight: bold;
}

#tag-line-signup {
  background: #44c7e3;
  border: 1px solid #44c7e3;
  /*font-weight: 600;*/
  font-size: 20px;
  outline: none;
  color: #fff;
  border-radius: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 50px;
}
.header-line .h2 {
  font-size: 46px;
  color: white;
}

.affix {
  -webkit-transition:padding 0.2s ease-out;
  -moz-transition:padding 0.2s ease-out;
  -o-transition:padding 0.2s ease-out;
  transition:padding 0.2s ease-out;

}



@media (min-width:768px) {
    .affix-top {
      /* navbar style at top */
      background:transparent;
      border-color:transparent;
      padding: 15px;
      -webkit-transition:all 0.5s ease;
      -moz-transition:all 0.5s ease;
      -o-transition:all 0.5s ease;
      transition:all 0.5s ease;
    }
    .navbar-nav>li>a {
      padding-top: 0;
      padding-bottom: 0;
  }
}

@media (max-width: 767px) {
  .header-line {
    padding-top: 200px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    font-size: 46px;
    /*color: #92d3b4;*/
    color: white;
    font-weight: bold;
    font-size: 30px;
    color: white;
  }
}

@media (max-width: 410px) {
  .header-line {
    padding-top: 200px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    font-size: 46px;
    /*color: #92d3b4;*/
    color: white;
    font-weight: bold;
    font-size: 24px;
    color: white;
  }
  .navbar-brand {
    padding-top: 10px;
    padding-bottom: 0;
    padding-left: 5px;
    padding-right: 5px;
}

.affix-top .nav>li>a {
   color: #000;
}

.affix-top.navbar .nav>li>a:hover,
.affix-top.navbar .navbar-brand
{
   color: #333;
}

section {
  height:calc(90% - 50px);
  height: 90vh;
}
