html,body {
  height:100%;
}

#nav {
  /*opacity: 0.9;*/

}

.brandpic {
  margin-right: 15px;

}
div.container {
  margin-left: 5px;
}

.icon-bar {
  color: black;

}

.navbar {
  min-height: 30px;
  margin-bottom: 0px;
}

.navbar-toggle {
/*  color: white;
  background-color: black;
*/
}

ul#nav-list {
  padding-top: 15px;
}
.navbar-brand {
  padding-top: 10px;
  padding-bottom: 0;
  padding-left: 5px;
  padding-right: 0;
  margin-left: 5px;
}

  .navbar-nav>li>a {
    margin: -15;
  }

.navbar-default .navbar-toggle .icon-bar {
    background-color: black;
    color: black;
}

.btn-primary, .btn-primary:active, .btn-primary:focus {
  /*  background: #187eda; */
    background: #53b887;
    border: 1px solid #187eda;
    font-weight: 600;
    outline: none;
    color: #ffffff;
    border-radius: 20px;
    padding-top: 0px;
    margin-top: 0;
    /* padding: 3px 18px; */
}


.first {
  height:100vh;
  min-height:400px;
  background-size:cover;
/*  background-image: url('http://localhost:3000/images/happy-family-green-overlay-darken-1000x666.png');*/
  background-image: url('https://raycaruso.github.io/raisingigen/images/happy-family-green-overlay-darken-1000x666.png');
  opacity: 0.5;
}

.subpage-first {
/*  height:100vh;*/
/*  min-height:400px;*/
  background-color: #92d3b4;
  color: white;

  background-size:cover;
  /* background-image: url('http://localhost:3000/images/school-800x800-Green-Overlay.png');*/
  background-image: url('https://raycaruso.github.io/raisingigen/images/school-800x800-Green-Overlay.png');


}

.subpage-maincontent {
  padding-top: 100px;
  padding-left: 10px;
/*  padding-right: 100px;*/
  /*text-align: center;*/

  color: white;
}



#spam-policy {
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.left-alighned {
  text-align: left;
}

.tag-line {
  padding-top: 200px;
  padding-bottom: 60px;
  padding-left: 100px;
  padding-right: 100px;
  text-align: center;
  color: white;
  font-weight: bold;
}


a#tag-line-signup,  a#tag-line-signup:active, a#tag-line-signup:focus {
  background: #187eda;
  border: 1px solid #187eda;

  font-size: 20px;
  outline: none;
  color: #ffffff;
  border-radius: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 50px;
}


.header-line .h2 {
  font-size: 46px;
  color: white;
}

.affix {
  -webkit-transition:padding 0.2s ease-out;
  -moz-transition:padding 0.2s ease-out;
  -o-transition:padding 0.2s ease-out;
  transition:padding 0.2s ease-out;
  background:transparent;
  border-color:transparent;
}


.affix-top .nav>li>a {
   color: #000;
}

.affix-top.navbar .nav>li>a:hover,
.affix-top.navbar .navbar-brand
{
   color: #333;
}


section {
  height:calc(90% - 50px);
  height: 120vh;
}


.footer {
  /*  position: fixed;*/

    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #92d3b4;
    color: white;
    text-align: left;
    padding-top: 20px;
}

/* Start of media queries */

@media (max-height: 500px ) {

  .tag-line {
    padding-top: 100px;
    padding-bottom: 50px;
    }

    a#tag-line-signup {
      margin-top: 20px;
    }
}

@media (max-height: 400px ) {

  .tag-line {
    padding-top: 50px;
    padding-bottom: 40px;
    }

    a#tag-line-signup {
      margin-top: 10px;
    }
}


@media (min-width:768px) {

    .navbar-nav>li>a {
      padding-top: 0;
      padding-bottom: 0;

  }
}


/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {

  .tag-line {
    padding-left: 50px;
    padding-right: 50px;
    font-size: 24px;
    }
    .bio {
      font-size: 16px;
      padding-left: 50px;
      padding-right: 50px;
    }
    .navbar-brand {
      margin-left: 5px;
    }
/*
  .navbar-brand {
    padding-top: 10px;
    padding-bottom: 0;
    padding-left: 5px;
    padding-right: 5px;
  }
*/
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) {
  .tag-line {
    padding-left: 50px;
    padding-right: 50px;
    font-size: 30px;
  }
  .bio {
    font-size: 20px;
    padding-left: 50px;
    padding-right: 50px;
  }
.navbar-brand {
    margin-left: 5px;
  }
 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
  .tag-line {
    padding-left: 50px;
    padding-right: 50px;
    font-size: 36px;
  }
  .bio {
    font-size: 20px;
    padding-left: 50px;
    padding-right: 50px;
  }
   .navbar-brand {
    margin-left: 5px;
  }
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
  .tag-line {
    padding-left: 50px;
    padding-right: 50px;
    font-size: 42px;
  }
  .bio {
    font-size: 24px;
    padding-left: 50px;
    padding-right: 50px;
  }
 .navbar-brand {
    margin-left: 5px;
  }
 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .tag-line {
    padding-left: 50px;
    padding-right: 50px;
    font-size: 48px;
  }
  .bio {
    font-size: 24px;
    padding-left: 100px;
    padding-right: 100px;
  }

 }
