<div class="footer">

  <div class="container">

    <div class="row no-gutters">
      <div class="col-sm-3">
        <a class="left-alighned" href="index.html">Home</a>
      </div>
      <div class="col-sm-3">
        <a class="left-alighned" href="disclosures.html" >Disclosures</a>
      </div>
      <div class="col-sm-6">
        Connect with us on
      </div>
    </div>

    <div class="row no-gutters">
      <div class="col-sm-3">
        <a class="left-alighned" href="http://www.raisingigen.com">Blog</a>
      </div>
      <div class="col-sm-3">
        <a class="left-alighned" href="spampolicy.html">Spam Policy</a>
      </div>
      <div class="col-sm-6">
        Facebook
      </div>
    </div>

    <div class="row no-gutters">
      <div class="col-sm-3">
        <a class="left-alighned" href="about.html">About</a>
      </div>
      <div class="col-sm-3">
        <a class="left-alighned" href="services.html">Services</a>
      </div>
      <div class="col-sm-6">
        Instagram
      </div>
    </div>

    <div class="row no-gutters">
      <div class="col-sm-3">
      </div>
      <div class="col-sm-3">
      </div>
      <div class="col-sm-6">
        Pintrist
      </div>
    </div>

    <div class="row no-gutters">
      <div class="col-sm-3">
      </div>
      <div class="col-sm-3">
      </div>
      <div class="col-sm-6">
        LinkedIn
      </div>
    </div>

    <div class="row no-gutters">
      <div class="col-sm-8">
        <br>&copy; 2017 Intentional Prosperity, LLC All Rights Reservered
      </div>
      <div class="col-sm-2">
      </div>
      <div class="col-sm-2">
      </div>
    </div>

  </div> <!--- Grid container --->
  <br><br>

</div> <!--- Footer div --->
