<div id="nav" class="navbar navbar-default" >
  <a class="navbar-brand" href="index.html">
      <img class="brandpic" src="images/Logo/Logo-no-words.png" width="30" height="30">
  </a>
  <div class="container">
    <a class="navbar-brand" href="index.html">
      <img class="brandpic hidden-xs" src="images/Logo/Logo-Text-243-30.png" width="243" height="30">
      <img class="brandpic hidden-sm hidden-md hidden-lg" src="images/Logo/Logo-Text-162-21.png" width="162" height="21">
    </a>
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed visible-xs" data-toggle="collapse" data-target="#collapsable-nav1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
    </div>
    <div id="nav-bar-line">
      <div id="collapsable-nav1" class="collapse navbar-collapse">
       <ul id="nav-list" class="nav navbar-nav navbar-right">
         <li>
           <a  href="index.html">Home</a>
         </li>
         <li>
          <a href="http://www.raisingigen.com">Blog</a>
        </li>
         <li>
          <a href="about.html">About</a>
        </li>
        <li>
          <a href="disclosures.html">Disclosures</a>
        </li>
        <li>
          <a class="btn btn-primary" href="newsletter-signup.html">Sign Up</a>
        </li>
      </ul><!-- #nav-list -->
    </div><!-- .collapse .navbar-collapse -->
    </div>
  </div>
</div><!-- /.navbar -->
